template.json
{

    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_webjava_prod1_name": {
            "defaultValue": "webjava-prod1",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "location": "eastus2",
            "tags": {
                "ResourceType": "Alert",
                "Environment": "Prod",
                "ApplicationType  ": "DataR",
                "Owner": "SDPD",
            },
            "properties": {
                "state": "Disabled",
                "definition": {
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "HTTP_request_Alert": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "schemaId": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "essentials": {
                                                    "type": "object",
                                                    "properties": {
                                                        "alertId": {
                                                            "type": "string"
                                                        },
                                                        "alertRule": {
                                                            "type": "string"
                                                        },
                                                        "severity": {
                                                            "type": "string"
                                                        },
                                                        "signalType": {
                                                            "type": "string"
                                                        },
                                                        "monitorCondition": {
                                                            "type": "string"
                                                        },
                                                        "monitoringService": {
                                                            "type": "string"
                                                        },
                                                        "alertTargetIDs": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "configurationItems": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "originAlertId": {
                                                            "type": "string"
                                                        },
                                                        "firedDateTime": {
                                                            "type": "string"
                                                        },
                                                        "description": {
                                                            "type": "string"
                                                        },
                                                        "essentialsVersion": {
                                                            "type": "string"
                                                        },
                                                        "alertContextVersion": {
                                                            "type": "string"
                                                        },
                                                        "investigationLink": {
                                                            "type": "string"
                                                        }
                                                    }
                                                },
                                                "alertContext": {
                                                    "type": "object",
                                                    "properties": {
                                                        "properties": {},
                                                        "conditionType": {
                                                            "type": "string"
                                                        },
                                                        "condition": {
                                                            "type": "object",
                                                            "properties": {
                                                                "windowSize": {
                                                                    "type": "string"
                                                                },
                                                                "allOf": {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "metricName": {
                                                                                "type": "string"
                                                                            },
                                                                            "metricNamespace": {
                                                                                "type": "string"
                                                                            },
                                                                            "operator": {
                                                                                "type": "string"
                                                                            },
                                                                            "threshold": {
                                                                                "type": "string"
                                                                            },
                                                                            "timeAggregation": {
                                                                                "type": "string"
                                                                            },
                                                                            "dimensions": {
                                                                                "type": "array",
                                                                                "items": {
                                                                                    "type": "object",
                                                                                    "properties": {
                                                                                        "name": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "value": {
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "required": [
                                                                                        "name",
                                                                                        "value"
                                                                                    ]
                                                                                }
                                                                            },
                                                                            "metricValue": {
                                                                                "type": "number"
                                                                            },
                                                                            "webTestName": {}
                                                                        },
                                                                        "required": [
                                                                            "metricName",
                                                                            "metricNamespace",
                                                                            "operator",
                                                                            "threshold",
                                                                            "timeAggregation",
                                                                            "dimensions",
                                                                            "metricValue",
                                                                            "webTestName"
                                                                        ]
                                                                    }
                                                                },
                                                                "windowStartTime": {
                                                                    "type": "string"
                                                                },
                                                                "windowEndTime": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "customProperties": {}
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "actions": {
                        "Parse_JSON": {
                            "runAfter": {
                                "GET_Token": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('GET_Token')",
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "token_type": {
                                            "type": "string"
                                        },
                                        "access_token": {
                                            "type": "string"
                                        },
                                        "expires_in": {
                                            "type": "string"
                                        },
                                        "ext_expires_in": {
                                            "type": "string"
                                        },
                                        "expires_on": {
                                            "type": "string"
                                        },
                                        "not_before": {
                                            "type": "string"
                                        },
                                        "resource": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        },
                        "GET_Token": {
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "method": "POST",
                                "headers": {
                                    "Content-Type": "application/x-www-form-urlencoded"
                                },
                            }
                        },
                        "Reset_instance": {
                            "runAfter": {
                                "For_each_1": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "method": "POST",
                                "headers": {
                                    "Authorization": "Bearer @{body('Parse_JSON')?['access_token']}",
                                    "Content-type": " application/json"
                                }
                            },
                            "runtimeConfiguration": {
                                "contentTransfer": {
                                    "transferMode": "Chunked"
                                }
                            }
                        },
                        "Initialize_variable": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "instancia",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "For_each_1": {
                            "foreach": "@triggerOutputs()?['body']?['data']?['alertContext']?['condition']?['allOf']",
                            "actions": {
                                "For_each": {
                                    "foreach": "@item()?['dimensions']",
                                    "actions": {
                                        "Set_variable": {
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "instancia",
                                                "value": "@item()?['value']"
                                            }
                                        }
                                    },
                                    "type": "Foreach"
                                }
                            },
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {}
                    }
                }
            }
        }
    ]
}